<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Appsettings.Standard" />
		<add assembly="NLog.StructuredLogging.Json" />
	</extensions>

	<targets>

		<!-- database target -->

		<target name="allfile" xsi:type="File"
		        layout="[${longdate}][${machinename}][${level}] ${message} ${exception}"
		        fileName="C:\inetpub\wwwroot\SERP.Logs\${shortdate}\SERP.BrainStormInActionDB.${shortdate}.${level}.log"
		        archiveFileName="C:\inetpub\wwwroot\SERP.Logs\archives\SERP.BrainStormInActionDB.${level}.{#}.gz"
		        archiveEvery="Day"
		        archiveNumbering="Date"
		        archiveDateFormat="yyyyMMdd"
		        maxArchiveFiles="5"
		        enableArchiveFileCompression="true"
		        />
	</targets>

	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Debug" writeTo="allfile" />

	</rules>
</nlog>